body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
}

#loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f0f3f5;
    z-index: 90000;
    opacity: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: visibility 1s linear, opacity 1s linear;
}

.btn-tawfeer {
    background-color: #233e7d;
    color: #fff;
}
